

/*form {
    background-image: url("src/assets/thai-food.jpg"); 
    min-height: 579px;
    align-content: center;
    /* Center and scale the image nicely */
   /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}*/
form{
    margin: 10px;
    padding: 25px;
    background-color: white;
    font-size:14px;
    text-align: left;
    bottom: 2px;
    width:97%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
    
}
.example-spacer{
    flex:1 1 auto;
}

.item-chip-list {
    width: 100%;
  }

mat-form-field{
    padding: 2px;
}
footer {
    bottom:0;
    width:100%;
    background:rgb(65,79,185);
    display: block;
}
/* .mat-chip-list-wrapper {
    height:60px !important;
    overflow-y: scroll !important;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 100%;
} */

figure img {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-top: 3%;
    margin-bottom: 3%;
}