

form {
    background-image: url("src/assets/thai-food.jpg"); 
    min-height: 579px;
    align-content: center;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}
.mat-card-cvr{
    top:60px;
    position: absolute;
    left:30px;
    margin: 10px;
    margin-left: 10px;
    max-width: 475px;
    max-height: 410px;
    padding: 25px;
    background-color: white;
    font-size: 13px;
    text-align: left;
    bottom: 2px;
    overflow: hidden;
    

}
.example-spacer{
    flex:1 1 auto;
}

.item-chip-list {
    width: 100%;
  }

mat-form-field{
    padding: 2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    }
     
    td, th {
    
    text-align: left;
    padding: 2px;
   
    }
     
    tr:nth-child{
    background-color: #dddddd;
    }