<div>
        <mat-toolbar class="fixed-header" color="primary" style="min-height: 45px !important; height: 45px !important;">
            <mat-toolbar-row>
         <!--<a href="/" > Eat & Greeth </a>-->
         <span style="cursor:pointer" routerLink="/home" (click)="homeitself()">Eat-N-Greet</span>
               
                <span class="example-spacer"></span>
            
        <button mat-button [matMenuTriggerFor]="dropdownoptions">Dropdown<mat-icon>keyboard_arrow_down</mat-icon></button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-menu #dropdownoptions="matMenu">
          <button mat-menu-item  routerlink='/login' routerlinkActive="active" (click)="logout()" >Logout</button>
          <button mat-menu-item routerlink='/My-orders' routerlinkActive="active" (click)="orders()" >My-orders</button>
          <button mat-menu-item routerlink='/postAMeal' routerlinkActive="active" (click)="postMeal()">Post-A-Meal</button>
          <button  mat-menu-item routerlink='/My-wallet' routerlinkActive="active" (click)="wallet()" >Wallet</button>
          <button  mat-menu-item routerlink='/profile' routerlinkActive="active" (click)="profile()">Profile</button> 
        
        </mat-menu>
        </div>
        <!-- card design here -->
        
        <div class="carddiv">
            <mat-grid-list cols="3" rowHeight="350px"  gutterSize="20px">
                <mat-grid-tile  class="divcls" *ngFor="let user1 of userinfo">
              
                   <mat-card  class="example-card"  fxLayoutWrap="wrap" fxLayout="column"  fxFlex="150%" fxLayoutGap="0.1px">
                        <mat-card-header>
                    <mat-card-title style="font-size: 14px"> Cusine : <label *ngFor="let i of user1.itemList" > {{i.name}} &nbsp;</label> </mat-card-title>
                    </mat-card-header>
                   <img class="image" fxFlex="1%" mat-card-image src="{{user1.uri}}">
                    <mat-card-content>{{user1.details}}
                    </mat-card-content>
                     <mat-card-actions>
                  <button mat-raised-button color="primary" routerlink="/bookameal" routerLinkActive="active" (click)="[newMessage(user1),bookmeal()]">View Details</button>
               <!--   <button md-button>SHARE</button> -->
                </mat-card-actions>
                    </mat-card> 
              
                </mat-grid-tile>
              </mat-grid-list>
        </div>
          
  <div>
        <footer  class="page-footer font-small blue" style="min-height: 45px !important; height: 45px !important;">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
                  <a style="color: white"> Eat-N-Greet.com </a>
                </div>
                <!-- Copyright -->
              
              </footer>
  </div>      
        